* {
    box-sizing: border-box;
    text-transform: uppercase;
}

:root {
    --color1: #89C331;
    --color2: #F04A56;
    --color3: #20807C;

}

body {
    font-family: 'Arimo';
}

.table1,
.table2 {
    border: 25px solid #3A4965;
    margin: 20px auto;
}

tfoot td:nth-child(even) {
    background-color: #EEEEEE;
}

tfoot td:nth-child(3) {
    background-color: #F4F4F4;
}

.table1 .header-title {
    background-color: #FAFAFA;
}

.table1 td {
    text-align: center;
    vertical-align: middle;
    color: #484848;
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
}

.table1 th {
    text-align: center;
    vertical-align: middle;
    color: #484848;
}

tbody tr:nth-child(even) {
    background-color: #E3E3E3;
}

tbody tr:nth-child(odd) {
    background-color: #F2F2F2;
}

.table1 tr:nth-child(n+2) {
    font-size: 16px;
    font-weight: 400;
}

.title-choose {
    font-size: 18px;
    font-weight: 700;
    width: 311px;
}

.plan {
    font-size: 30px;
    padding-top: 2px;
}

.table1 .header-title .titles {
    width: 280px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.row-title1 {
    height: 73px;
}

.row-title2 {
    height: 89px;
}

.row-body {
    height: 72px;
}

.standart {
    background-color: var(--color1);
}

.premium {
    background-color: var(--color3);
}

.ultimate {
    font-size: 30px;
    background-color: var(--color2);
}

.price {
    padding: 10px 0;
    font-size: 60px;
    font-weight: 700;
    position: relative;
    left: 0;
}

.price-coins {
    position: absolute;
    top: 2px;
    left: 137px;
    font-size: 24px;
}

.month {
    font-size: 18px;
    font-weight: 400;
    bottom: 15px;
    position: relative;
    left: 3px;
}

.row-body {
    font-size: 16px;
    font-weight: 400;
}

.storage::before {
    content: url('/img/1.png');
}

.bandwidth::before {
    content: url('/img/2.png');
}

.email::before {
    content: url('/img/3.png');
}

.support::before {
    content: url('/img/4.png');
}

.products::before {
    content: url('/img/5.png');
}
 .users::before {
    content: url('/img/6.png');
}

.row-bode ::before {
    padding-right: 4px;
}

.button {
    width: 192px;
    height: 51px;
    padding: 18px 44px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    position: relative;
}

.contact-us {
    background-color: #484848;
    position: relative;
}

.green {
    background-color: var(--color1);
}

.rose {
    background-color: var(--color2);
}

.blue {
    background-color: var(--color3);
}

.button::after {
    content: '';
    width: 192px;
    height: 9px;
    border-radius: 0 0 5px 5px;
    background-color: #C4C4C4;
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: 1;
}

.button::before {
    content: '';
    width: 192px;
    height: 9px;
    border-radius: 0 0 5px 5px;
    background-color: #404040;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.green::before {
    background-color: #79B027;
}

.rose::before {
    background-color: #DF3A46;
}

.blue::before {
    background-color: #16736F;
}

.row-footer > td {
    padding: 30px 44px;
}

.row-footer > td:first-child {
    background-color: #DDDDDD;
}


.row-table2-title {
    height: 102px;
    border-bottom: 10px solid #3A4965;
}

.table2 td {
    text-align: center;
    vertical-align: middle;
    color: #484848;
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
}

.table2 .title-choose {
    width: 201px;
    font-size: 14px;
    font-weight: 700;
    background-color: #FAFAFA;
    
}

.table2 .plan {
    
    font-size: 20px;
    font-weight: 700;
}

.items {
    width: 160px;
    font-weight: 700;
    font-size: 20px;
}

.row-table2 {
    height: 167px;
}

.table2 ::before {
    display: block;
    color: #848484;
    padding-bottom: 5px;
}

.table2 td:nth-child(even) {
    background-color: #E3E3E3;
}

.table2 td:nth-child(2n+3) {
    background-color: #F2F2F2;
}

.table2 .row-table2 td {
    font-size: 16px;
    font-weight: 400;
}

.table2 .row-table2 .table2-heading {
    padding: 23px;
    border: none;
    font-weight: 700;
}

.table2-title {
    color: #fff;
    font-size: 24px;
}

.table2 .row-table2 .table2-heading .price {
    color: #fff;
    font-size: 36px;
    text-align: left;
}

.table2 .row-table2 .table2-heading .price-coins {
    font-size: 18px;
    left: 41px;
    top: 9px;
}

.table2 .row-table2 .table2-heading .month {
    font-size: 14px;
    bottom: 7px;
    left: 29px;
}

.table2 .row-table2 .table2-heading .button {
    width: 147px;
    height: 44px;
    font-size: 16px;
    padding: 0;
}

.table2 .row-table2 .table2-heading .button::after {
    display: none;
}

.table2 .row-table2 .table2-heading .button::before {
    width: 147px;
    height: 3px;
}


